{% extends 'layout.html' %}
{% block content %}
 <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="container">
    {% for exam in exams %}
  <div class="row">

      <div class="card border-info mb-3" style="max-width: 18rem;">
  <div class="card-header">{{ exam.patient }}</div>
  <div class="card-body text-info">
    <h5 class="card-title">{{ exam.name }} - ${{ exam.price }}</h5>
    <p class="card-text">{{ exam.description }}</p>
      <br>
  </div>
</div>

  </div>
    {% endfor %}
      <a type="button" class="btn btn-primary" href="/addexam">New</a>
</div>
{% endblock %}
 <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>