{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm">
<div class="card align-items-center" style="width: 18rem;">
  <img class="card-img-top" src="static/patient.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">New Patient</h5>
     <p class="card-text">{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}</p>
  </div>
  <ul class="list-group list-group-flush">

    <li class="list-group-item">

  <hr>

    {{ wtf.quick_form(form) }}

  <hr>
       </li>
  </ul>
</div>
    </div>
  </div>
</div>
{% endblock %}